

@mixin flexCenter($direction){
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: $direction;
}

@mixin theme($dark-theme:true){
    @if $dark-theme  {
        background-color: $dark-background;
        color: $light-text;
    }
  /**@else {
        background-color: $light-background;
        color: $dark-text;
      }**/

}
@mixin mobile{
    @media (max-width : $mobile){
        @content ;
        
    }

}