//variables
$dark-background:black;
$light-background:white;
$dark-text:black;
$light-text:white;


$secondary-color :black;
$text-color : white;
//Math Operations
$width_percent : 90% - 10%;
//map
$font-wheights : ("regular":300,"medium":500,"bold":700);
//list
$margin_text : 20px auto;

$mobile : 800px;